
<div class="navbar" >

    <a mat-button class="mat-button" href="#" routerLinkActive="active" routerLink="/dashboard/home">Начало</a>
    <a mat-button class="mat-button" href="#" routerLinkActive="active" routerLink="/shop">Магазин</a>
    <a mat-button class="mat-button" href="#" routerLinkActive="active" routerLink="/info">За избата</a>
    <a mat-button class="mat-button" href="#" routerLinkActive="active" routerLink="/gallery">Галерия</a>
    <a mat-button class="mat-button" href="#" routerLinkActive="active" routerLink="/contact">Контакти</a>

        <a 
          *ngIf="!status" 
          style="float:right" 
          mat-button class="mat-button" 
          href="#" routerLinkActive="active" 
          routerLink="/login"
        >Вписване
        </a>

        <button *ngIf="status" style="float:right" mat-button class="mat-button">Отписване</button>
  </div>



  <!-- 
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">JwtAuthDemo</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      
        <ul *ngIf="status" class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" (click)="logout()" href="#">Logoff</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a> 
            </li>         
          </ul>

          <ul *ngIf="!status" class="nav navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/register">Email signup</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/login">Email login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/facebook-login">Facebook signup/login</a>
            </li>
          </ul> 
                     
    </div>
  </nav>-->
