<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:40%"></th>
        <th style="width:15%" style="white-space: nowrap;">Ед. цена</th>
        <th style="width:25%">Количество</th>
        <th style="width:15%" class="text-center">Сума</th>
        <th style="width:5%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of items">
        <td>
          <div class="row">
            <div class="col-sm-6 hidden-xs"><img src="{{element.product.photoUrl}}" alt="..." class="img-responsive" style="max-width: 100px" /></div>
            <div class="col-sm-6" style="margin: auto">
              <h5 class="nomargin">{{element.product.name}}</h5>
            </div>
          </div>
        </td>
        <td data-th="Цена">{{element.product.price | number: '1.2-2'}} лв.</td>
        <td data-th="К-во">
            <div>
                <button class="btn btn-secondary btn-sm" (click)="substractProduct(element.product.id)">-</button>   
                <span style="margin: 10px">{{element.quantity}}</span>
                <button class="btn btn-danger btn-sm" (click)="addProduct(element.product.id)">+</button>
            </div>
        </td>
        <td data-th="Сума" class="text-center">{{(element.product.price * element.quantity) | number: '1.2-2'}} лв</td>
        <td class="actions" data-th="Изтриване">
          <button class="btn btn-sm" (click)="removeItem(element.product.id)"><i class="fas fa-times"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="col-sm-4"><a routerLinkActive="active" routerLink="/shop" class="btn btn-warning"><i class="fa fa-angle-left"></i> Продължи пазаруването</a></td>
        <td class="col-sm-2"></td>
        <td class="col-sm-2" class="hidden-xs text-center"><strong>Обща сума: {{total | number: '1.2-2'}} лв.</strong></td>
        <td class="col-sm-4"><a [routerLink]="['/checkout']" class="btn btn-success btn-block">Поръчай <i class="fa fa-angle-right"></i></a></td>
      </tr>
    </tfoot>
  </table>
</div>