@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-focused .mat-form-field-label {
  color: rgba(184, 8, 8, 0.63) !important;
}
  
.mat-form-field-ripple {
  background-color: rgba(184, 8, 8, 0.63) !important;
 }

 .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgba(84, 86, 88, 0.719) !important;
}

.mat-ripple-element {
  background: rgba(27, 142, 241, .4) !important;
}


html {
  overflow-x: hidden;
  background: #e7e7e7;
}

a, h3, h5 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

body { 
  max-width: 1360px;
  margin: auto;
  /* overflow-x: hidden; */
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

