<mat-grid-list *ngIf="columnsToShow > 1" [cols]="columnsToShow" rowHeight="1:1">
    <mat-grid-tile *ngFor="let item of products">
        <mat-card class="example-card" (click)=addToCart(item)>
            <img class="card-image" mat-card-image [src]=item.photoUrl>

            <mat-card-content>
                <h6> {{item.displayName}}</h6>
                <p>{{item.price | number: '1.2-2'}} лв.</p>
            </mat-card-content>

            <!-- <button mat-button (click)=buyProduct(item)>Детайли</button> -->
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="columnsToShow > 0 && columnsToShow < 2" [cols]="columnsToShow" rowHeight="1:1">
    <mat-grid-tile *ngFor="let item of products" class="one-product-tile">
        <mat-card class="example-card" (click)=addToCart(item)>
            <img class="card-image" mat-card-image [src]=item.photoUrl>

            <mat-card-content>
                <h6> {{item.displayName}}</h6>
                <p>{{item.price | number: '1.2-2'}} лв.</p>
            </mat-card-content>

            <!-- <button mat-button (click)=buyProduct(item)>Детайли</button> -->
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>