@import "~bootstrap/dist/css/bootstrap.css";

.big-box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;

    max-height: 500px; 
    max-width: 400px;
  }
  
  div > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }

  div > button {
    padding: 14px 100px; 
    background-color: rgba(184, 8, 8, 0.973);
    color: ivory;
    display: inline-block;
    left: 5%;
  } 