@import 'src/theme.scss';
$primary: map-get($my-theme, primary);
/* button {
  background-color: mat-color($primary);
} */

.big-box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;

    max-height: 500px; 
    max-width: 400px;
  }
  
  div > img {
    display: block;
    position: absolute;
    top: 20%;
    left: 30%;
    min-height: 170%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }

  div.dialog-actions button {
    padding: 14px 100px; 
    background-color: rgba(126, 7, 7, 0.973);
    color: ivory;
    display: inline-block;
    left: 5%;

    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  } 

  