@import "~bootstrap/dist/css/bootstrap.css";

h3 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.total {
  margin: auto;
  margin-top: inherit;
  background-color: #ececec;
}

.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    width: 100%;
  }

  .header {
    text-align: left
  }

  .headerValue {
    text-align: right
  }

  tr {
    border:hidden
  }

  .table[_ngcontent-c18] th[_ngcontent-c18], .table[_ngcontent-c18] td[_ngcontent-c18] {
    padding: 1px
  }
  