@import "~bootstrap/dist/css/bootstrap.css";

h3 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.total {
  margin: auto;
  text-align: left;
  background-color: #ececec;
}

.total p {
  color: grey;
}

.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    width: 100%;
  }
