<h3>ПОРЪЧКА</h3>

<div [formGroup]="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="margin: auto">
                <mat-form-field>
                    <input matInput placeholder="Име и фамилия:"  formControlName="name">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Електронен адрес:" formControlName="email">
                    <mat-error *ngIf="form.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>


                <mat-form-field>
                    <input matInput placeholder="Телефон за връзка:" formControlName="phone">
                </mat-form-field>


                <mat-checkbox (change)="createAccount($event)">Създаване на профил</mat-checkbox>
                <br>

                <mat-form-field *ngIf="registerUser === true">
                    <input matInput placeholder="Парола:" type="password" formControlName="password">
                </mat-form-field>

                <div *ngIf="registerUser === true">
                    <button type="button" class="btn btn-secondary" (click)="register()">Запази</button>
                </div>

            </div>

            <div class="col-sm-4" formGroupName="address">
                <mat-form-field>
                    <mat-select placeholder="Държава:" formControlName="country">
                        <mat-option value="Bulgaria">България</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Област:" formControlName="region" (openedChange)="onSelectorOpen()" >
                        <mat-option *ngIf="regions === null || !regions.length" disabled></mat-option>
                        <mat-option *ngFor="let region of regions" [value]="region.id">{{region.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                        <input matInput placeholder="Населено място:" formControlName="city">
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput placeholder="Адрес:" formControlName="addressLine"></textarea>
                </mat-form-field>

                <mat-form-field>
                        <input matInput placeholder="Пощенски код"  formControlName="zipCode">
                </mat-form-field>
            </div>

            <div class="col-sm-4" class="total">
                <h4>Обща сума: {{ total | number: '1.2-2'}} лв.</h4>
            </div>
        </div>
    </div>
</div>

<br>
{{ form.value | json }}