<h3>ПОРЪЧКА</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-4" style="margin: auto">
            <mat-form-field>
                <input matInput placeholder="Име и фамилия:">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Електронен адрес:" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Телефон за връзка:">
            </mat-form-field>
        </div>

        <div class="col-sm-4">
            <mat-form-field>
                <mat-select placeholder="Държава:">
                    <mat-option value="option">Option</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Област:">
                    <mat-option value="option">Option</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Населено място:">
                    <mat-option value="option">Option</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Адрес:"></textarea>
            </mat-form-field>
        </div>

        <div class="col-sm-4" class="total">
            <h4>Обща сума: {{ total | number: '1.2-2'}} лв.</h4>
        </div>
    </div>
</div>


<br>
{{ email.value | json }}